In [1]:
import pandas as pd
import numpy as np

In [68]:
raw_NYHouses = pd.read_csv("NY-House-Dataset.csv")

In [70]:
raw_LondonHouses = pd.read_csv("london_houses.csv")

#### NY Houses have longtitude and latitude but London does not. 
#### London has more categorical variables such as Floors and building age
#### common variables for every dataset are num of baths and bedrooms, price

In [73]:
raw_LondonHouses.head(2)

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000

In [75]:
raw_NYHouses.head(2)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.0,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.0,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991

In [77]:
raw_NYHouses.iloc[ 0 : 5 ,  0 : 5 ]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861